.category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.category input[type="radio"] {
  display: none;
}
label {
  padding: 5px 8px;
  border: 1px solid rgba(21, 21, 21, 0.3);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #151515;
}

.blank-label {
  display: none;
}
.category input[type="radio"]:checked + label {
  background: #ff7426;
  color: #fff;
  border: 1px solid #ff762600;
}
