.category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.category input[type="radio"] {
  display: none;
}
.categories label {
  padding: 5px 8px;
  border: 1px solid rgba(21, 21, 21, 0.3);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #151515;
}

.blank-label {
  display: none;
}
.category input[type="radio"]:checked + label {
  background: #ff7426;
  color: #fff;
  border: 1px solid #ff762600;
}

.social_posts .slick-track .slick-slide {
  padding: 0 10px;
}
.social_posts .slick-track .slick-slide > div:focus-within {
  outline: none;
}

#newsletter_2 {
  background-image: url("./images/backgrounds/newsletter.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#details_page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
