// Colors
$primary_color : #151515;
$secondary_color : #FF6F00;
$third_color:#9A9EA6;
$link_coor :rgba(93, 122, 198, 1);
$heading_color:rgba(21, 21, 21, 1);
$heart_color:rgba(255, 99, 99, 1);
$disable_color:#D5D5D5;
$green_color :#518F2D; 

$theme_font:Inter;
$font_normal:normal;
$heading_letter_spacing:-0.04em;
$bold:700;
$semi_bold:600;
$medium_bold:500;
$regular_bold:400;


$lg_btn :12px 32px;
$md_btn :10px 32px ;
$sm_btn :8px 24px;
$xs_btn :6px 20px;

// Varibale for  H1
$h1_desk_font_size :48px;
$h1_tab_font_size:40;
$h1_mob_font_size:32px;

// $h1_desk_line_height:58;
// $h1_tab_line_height:56px;


// Varibale for H2
$h2_desk_font_size :36px;
$h2_tab_font_size:32px;
$h2_mob_font_size:28px;


// Varibale for H3
$h3_desk_font_size :24px;
$h3_tab_font_size:20px;
$h3_mob_font_size:18px;



// Varibale for H4
$h4_desk_font_size :20px;
$h4_tab_font_size:18px;
$h4_mob_font_size:18px;


// Varibale for H5
$h5_desk_font_size:18px;
$h5_tab_font_size:16px;
$h5_mob_font_size:16px;


$p_font_size:16px;

$gap :96px;